/* ==========================================================================
	 HEADER
	 ===========================================================================*/
.header{
	margin: 21px 0;

}
.header-menu {
	display: inline-block;
	vertical-align:middle;
	margin-top: 5px;
	width: 51%;
	@media screen and (max-width: 767px) {
		display: block;
		position: fixed;
		top: 0;
		left:0;
		right: 0;
		margin-top: 0;
		min-width: 300px;
		height: 100%;
		background: $color-main;
		text-align: center;
		overflow-y: auto;
		z-index:20;
		transform: translateX(-100%);
		transition: all .3s ease;
	}
	&.open{
		@media screen and (max-width: 767px){
			transform: translateX(0);
			transition: all .3s ease;
		}
	}
	li{
		display:inline-block;
		vertical-align:middle;
		@media screen and (max-width: 767px) {
			display: block;
		}
		&:not(:last-child){
			margin-right: 23px;
			@media screen and (max-width: 767px) {
				margin-right: 0;
			}
		}
		a{
			font-family:$font-family-main;
			color:$color-light-grey;
			font-weight:700;
			&:hover{
				text-decoration:underline;
			}
			@media screen and (max-width: 767px) {
				display: block;
				padding: 10px 0;
				width: 100%;
				color:$color-white;
				&:hover{
					text-decoration:none;
					background-color:#f56490;
				}
			}
		}
	}
	ul{
		@media screen and (max-width: 767px){
			margin-top: 100px;
		}
	}
}
body.menu_open{
	@media screen and (max-width: 767px){
		overflow: hidden;
	}
}
.header-cart{
	position: relative;
	display:inline-block;
	margin-right: -11px;
	margin-top: -5px;
	float:right;
	width: 30px;
	height: 30px;
	.icon-cart{
		width: 25px;
		height: 25px;
	}
}
.header-cart__number{
	position:absolute;
	top:14px;
	right: -2px;
	width: 19px;
	height: 19px;
	text-align: center;
	padding-top: 4px;
	font-family:$font-family-main;
	@include font-size(12px);
	font-weight:$font-weight-title;
	color:$color-white;
	background-color:$color-main;
	border-radius:10px;
	text-transform:uppercase;
	letter-spacing: 0.6px;

}
/* LOGO */
.header__logo{
	display: inline-block;
	margin: 0 58px 0 10px;
	vertical-align:middle;
	float: left;
	font-family:$font-family-main;
	color:$color-logo;
	text-transform: uppercase;
	font-weight:600;
	@include font-size(22px);
	letter-spacing: 2.2px;
}
.burger{
	display: none;
	float: left;
	@media screen and (max-width: 767px){
		position:relative;
		display:inline-block;
		margin-right: 20px;
		width: 21px;
		height: 21px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: 30;
	}
}
/*burger icon*/
.menu.icon {
	position: absolute;
	top:14px;
	margin-left: -9px;
	width: 17px;
	height: 1px;
	color: #000;
	background-color: currentColor;
	&:before{
		position: absolute;
		top: -5px;
		left: 0;
		width: 17px;
		height: 1px;
		content: '';
		background-color: currentColor;
		transition:.3s;
	}
	&:after{
		position: absolute;
		top: 5px;
		left: 0;
		width: 17px;
		height: 1px;
		content: '';
		background-color: currentColor;
		transition:.3s;
	}
}
.close.icon {
	position: absolute;
	top:5px;
	margin-left: -21px;
	width: 21px;
	height: 21px;
	color: $color-white;
	&:before{
		position: absolute;
		top: 10px;
		width: 21px;
		height: 1px;
		content: '';
		background-color: currentColor;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		transition:.3s;
	}
	&:after{
		position: absolute;
		top: 10px;
		width: 21px;
		height: 1px;
		content: '';
		background-color: currentColor;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		transition:.3s;
	}
}
.header-back{
	display: none;
	@media screen and (max-width: 767px){
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background:rgba(0, 0, 0, 0.5);
		z-index:19;
	}
	&.open{
		@media screen and (max-width: 767px){
			display:block;
		}
	}
}
/* end header */
