<div class="container" style="border: 1px solid black">
	<h1>h1/ 80px / Lora</h1>
	<h2>h2/ 35px / Droid Serif</h2>
	<h3>h3/ 18px / Droid Serif</h3>
	<h4>h4/ 12px / Droid Serif</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
	<h1 style="font-family:Muli">Muli</h1>
	<h1 style="font-family:Droid-Serif">Droid-Serif</h1>
	<h1 style="font-family:Lora">Lora</h1>
</div>