<div class="container" style="border:1px solid black; padding: 20px;">
	<div class="catalog-item">
		<div class="catalog-item-block">
		<div class="catalog-item-image">
			<img src="../../uploads/product-img-1.jpg">
		</div>
		<div class="catalog-item-back">
			<button class="btn btn_primary">Add To Cart</button>
			<button class="btn btn_primary">Quik View</button>
		</div>
		</div>
		<h2 class="catalog-item__title">Cotton Polo Shirt</h2>
		<div class="catalog-item-prices">
			<div class="catalog-item-prices-old">
				$100.00
			</div>
			<div class="catalog-item-prices-new">
				$95.00
			</div>
		</div>
	</div>
</div>
