/*==========================================================================
	 BANNER-SLIDER
	 ===========================================================================*/
.slider-banner{
	margin-bottom: 100px;
	width: 100%;
	background-image:url('../images/banner-paral.jpg');
	box-shadow:inset 0 0 0 1000px rgba(37, 28, 33, 0.8);
	-webkit-background-size: cover;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@media screen and (max-width: 767px){
		margin-bottom: 60px;
	}
}
.slider{
	padding: 54px 0;
	padding-left:-15px;
	padding-right:-15px;
	text-align: center;
}
.slider-item{
	padding:0 15px;
	height: 76px;
	overflow:hidden;
	img{
		margin:0 auto;
	}
}
/* end banner-slider */