/*==========================================================================
	 BLOG
	 ===========================================================================*/
.blog{
	text-align: center;
	.row{
		margin-top: 68px;
		margin-bottom: 36px;
		@media screen and (max-width:768px){
			margin-top: 0;
		}
	}
}
.blog-item-text__more{
	position:relative;
	margin-top: 35px;
	font-family:$font-family-droid;
	font-weight:$font-weight-title;
	&:after{
		position:absolute;
		top: 7px;
		right: -13px;
		content:'';
		width: 6px;
		height: 9px;
		background:url(../images/blog-arrow.png);
	}
	&:hover{
		color:$color-main;
	}
}
.blog-item{
	text-align:left;
	max-width: 552px;
	margin-bottom: 25px;
	@media screen and (max-width:768px){
		margin: 0 auto;
	}
}
.blog-item-text__description{
	display:block;
	color:$color-text;
	line-height:25px;
	margin-bottom: 10px;
}

.blog-item__img{
	float: left;
	width: 30%;
	height: 165px;
	overflow:hidden;
	@media screen and (min-width: 768px){
		margin-top: 30px;
	}
	@media screen and (min-width: 320px){
		margin-top: 30px;
	}
}
.blog-item-text{
	float:left;
	width: 70%;
	padding:7px 0 30px 30px;
}
.blog-item-text__title{
	display:block;
	margin: 20px 0 9px 0;
	font-family: $font-family-title;
	@include font-size($font-size-h3);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: $font-weight-main;
	&:hover{
		color:$color-main;
	}
}
/* end blog */