/*==========================================================================
	 PRODUCTS
	 ===========================================================================*/
.products{
	margin-top: 94px;
	padding-bottom: 102px;
	text-align: center;
	@media screen and (min-width:320px) and (max-width:767px) {
		margin-top: 40px;
	}
}
.caption{
	display: block;
	margin-bottom: 102px;
	font-family:$font-family-main;
	@include font-size(12px);
	color:$color-gray;
	text-transform:uppercase;
	@media screen and (max-width:767px){
		margin-bottom: 40px;
	}
}
.catalog-item{
	margin-bottom: 45px;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}
.catalog-item__title{
	display: block;
	margin: 20px 0 10px 0;
}
.col-sm-4{
	@media screen and (min-width: 650px) and (max-width: 767px){
		width: 50%;
	}
}
/* end products */