/*==========================================================================
	 PRODUCTS-FETURED
	 ===========================================================================*/
.products-fetured{
	padding-bottom: 93px;
	text-align: center;
	a{
		margin-top: 23px;
	}
}
/* end products-fetured */