@import "_functions.scss";
//
//1. FONTS
//

//NEW INCLUDE FONTS FROM MIXIN
@include font-face('Muli', '../fonts/Muli/regular/Muli-Regular', 400, normal, eot woff ttf);
@include font-face('Muli', '../fonts/Muli/light/Muli-Light', 300, normal, eot woff ttf);
@include font-face('Muli', '../fonts/Muli/bold/Muli-Bold', 700, normal, eot woff ttf);
@include font-face('Muli', '../fonts/Muli/semibold/Muli-SemiBold', 600, normal, eot woff ttf);
@include font-face('Droid-Serif', '../fonts/DroidSerif/DroidSerifRegular', 400, normal, eot woff ttf);
@include font-face('Lora', '../fonts/Lora/LoraRegular', 400, normal, eot woff ttf);

$font-family-main: 'Muli', "Times New Roman", serif;
$font-family-droid: 'Droid-Serif';
$font-family-lora: 'Lora';
$font-family-title: $font-family-droid;

//SIZE
$font-size-main: 15px;
$font-size-title: 35px;
$font-size-h1: 80px;
$font-size-60:60px;
$font-size-h2: 35px;
$font-size-22:22px;
$font-size-h3: 18px;
$font-size-h4: 15px;

//LINE HEIGHT
$line-height-main: 1.2;
$line-height-title: $line-height-main;

//WEIGHT
$font-weight-main: 300;
$font-weight-title: 400;


//
//2. COLORS
//

$color-main: #f72464;
$color-white: #fff;
$color-black:#000;
$color-gray: #919191;
$color-light-grey:#52575d;
$color-lighter-grey:#c4c4c4;
$color-logo:#041122;


$color-error: red;
$color-success: green;
$color-warning: yellow;

$color-text: #898989;
$color-title: #222;
$color-link: $color-title;
$color-link-hover: darken($color-link, 10%);

$background-body: $color-white;

//
//3. BUTTONS
//

// default

$button: (
	max-width: 100%,
	min-width: 225px,
	padding:0 5px,
	height: 40px,
	line-height: 40px,
	font-family: $font-family-lora,
	font-size: 14px,
	font-weight: 400,
	border-width: 1px,
	border-radius: 3px,
	border-color: $color-main
);


// primary
$btn-primary-bg: $color-main;
$btn-primary-bgHover: $color-white;
$btn-primary-bgActive: lighten($color-main, 10%);

$btn-primary-color: $color-white;
$btn-primary-colorHover: $color-title;
$btn-primary-colorActive: $color-title;

$btn-primary-border: btn(border-width) solid $color-main;
$btn-primary-borderHover: btn(border-width) solid $color-main;
$btn-primary-borderActive: btn(border-width) solid $btn-primary-bgActive;

//secondary
$btn-secondary-bg: $color-white;
$btn-secondary-bgHover: $color-main;
$btn-secondary-bgActive: lighten($color-white, 10%);

$btn-secondary-color: $color-gray;
$btn-secondary-colorHover: $color-white;
$btn-secondary-colorActive: $color-title;

$btn-secondary-border: btn(border-width) solid $color-main;
$btn-secondary-borderHover: btn(border-width) solid $color-main;
$btn-secondary-borderActive: btn(border-width) solid $btn-primary-bgActive;

//
//4.FORMS
//

$form-width: 100%;
$form-bg: $color-white;
$group-width:100%;
$group-margin-bottom: 15px;

//inputs

$input: (
	width: 23%,
	height: 40px,
	padding: 14px 0 14px 0,
	font-family: $font-family-main,
	font-size: $font-size-h4,
	font-weight: $font-weight-main,
	font-style: normal,
	color: $color-lighter-grey,
	border: 1px solid $color-main,
	border-radius: 3px,
	placeholder: $color-lighter-grey,
	transition: all .3s,
	background: transparent,
	text-align: center,
);


// 5. @MEDIA QUERIES
//
$breakpoints: (
	"phone":   481px,
	"tablet-small": 601px,
	"tablet":       768px,
	"laptop":      980px,
	"desktop":      1366px,
	"desktop-max":      1920px,
);
// @include mq('tablet-wide') {}

//
// 6. Z-INDEX ELEMENTS
//

$z-layers: (
	back: -1,
	default: 1,
	button: 3
);

// z-index: z(overlay);
