<!--banner-slider-->
<section class="slider-banner">
	<div class="container">
		<div class="slider">
			<div class="slider-item"><img src="uploads/brand-1.jpg" alt="brand-1"></div>
			<div class="slider-item"><img src="uploads/brand-2.jpg" alt="brand-2"></div>
			<div class="slider-item"><img src="uploads/brand-3.jpg" alt="brand-3"></div>
			<div class="slider-item"><img src="uploads/brand-4.jpg" alt="brand-4"></div>
			<div class="slider-item"><img src="uploads/brand-1.jpg" alt="brand-1"></div>
			<div class="slider-item"><img src="uploads/brand-6.jpg" alt="brand-6"></div>
			<div class="slider-item"><img src="uploads/brand-6.jpg" alt="brand-6"></div>
		</div>
	</div>
</section>