<!--banner-->
<section class="banner">
	<div class="container">
		<div class="banner-content">
		<h1 class="banner-content__title">Kenakata Summer Collection</h1>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui deserunt<br> mollit anim id est laborum. </p>
			<a class="btn btn_primary btn_banner" href="#">Shop Now</a>
		</div>
	</div>
</section>
<!--end banner-->