<!--blog-->
<section class="blog">
	<div class="container">
		<h2>Blog Posts</h2>
		<span class="caption">Editors' picks</span>
		<div class="row">
			<div class="col-sm-6">
				<div class="blog-item clearfix">
						<a class="blog-item__img" href="#"><img src="uploads/blog-1.jpg" alt="blog-4"></a>
					<div class="blog-item-text">
						<a class="blog-item-text__title" href="#">Lorem Dolor Amet Consectetur Dipisicing</a>
						<p class="blog-item-text__description" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<a class="blog-item-text__more" href="#">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blog-item clearfix">
						<a class="blog-item__img" href="#"><img src="uploads/blog-2.jpg" alt="blog-2"></a>
					<div class="blog-item-text">
						<a class="blog-item-text__title" href="#">Consectetur adipisicing elit tempor dunt</a>
						<p class="blog-item-text__description" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<a class="blog-item-text__more" href="#">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blog-item clearfix">
						<a class="blog-item__img" href="#"><img src="uploads/blog-3.jpg" alt="blog-3"></a>
					<div class="blog-item-text">
						<a class="blog-item-text__title" href="#">Incididunt ut labore et dolore magna</a>
						<p class="blog-item-text__description" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<a class="blog-item-text__more" href="#">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blog-item clearfix">
						<a class="blog-item__img" href="#"><img src="uploads/blog-4.jpg" alt="blog-4"></a>
					<div class="blog-item-text">
						<a class="blog-item-text__title" href="#">Ut enim ad minim veniam, quis nostrud</a>
						<p class="blog-item-text__description" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<a class="blog-item-text__more" href="#">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn_secondary" href="#">Read all post</a>
	</div>
</section>
