<!--blog-form-->
<section class="blog-form">
	<div class="container">
		<h2>Join 100,000 members already collaborating </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		<form action="#" method="get">
			<input class="form-input" type="email" required="required" placeholder="Your email address">
			<button type="submit" class="btn btn_primary btn_form">Subscribe</button>
		</form>
	</div>
</section>