<!--products-->
<section class="products">
	<div class="container">
		<h2>New Products</h2>
		<span class="caption">Dolor sit amet</span>
		<div class="row">
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-1.jpg" alt="product-img-1">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="#" class="catalog-item__title">Cotton Polo Shirt</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$100.00
						</div>
						<div class="catalog-item-prices__new">
							$95.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-2.jpg" alt="product-img-2">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="a" class="catalog-item__title">Fine-knit Cardigan</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$230.00
						</div>
						<div class="catalog-item-prices__new">
							$199.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-3.jpg" alt="product-img-3">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="#" class="catalog-item__title">Kimono Cardigan</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$85.00
						</div>
						<div class="catalog-item-prices__new">
							$55.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-4.jpg" alt="product-img-4">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="#" class="catalog-item__title">Rustic Garter Set</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$150.00
						</div>
						<div class="catalog-item-prices__new">
							$125.00
						</div>
					</div>
			</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-5.jpg" alt="product-img-5">
						<div class="catalog-item-back">
							<button class="btn btn_primary">Add To Cart</button>
							<button class="btn btn_primary">Quik View</button>
						</div>
					</div>
					<a href="#" class="catalog-item__title">Cotton Maxi</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$100.00
						</div>
						<div class="catalog-item-prices__new">
							$95.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-6.jpg" alt="product-img-6">
						<div class="catalog-item-back">
							<button class="btn btn_primary">Add To Cart</button>
							<button class="btn btn_primary">Quik View</button>
						</div>
					</div>
					<a href="#" class="catalog-item__title">Anysize double</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$230.00
						</div>
						<div class="catalog-item-prices__new">
							$199.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-7.jpg" alt="product-img-7">
						<div class="catalog-item-back">
							<button class="btn btn_primary">Add To Cart</button>
							<button class="btn btn_primary">Quik View</button>
						</div>
					</div>
					<a href="#" class="catalog-item__title">Latex Catsuit</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$85.00
						</div>
						<div class="catalog-item-prices__new">
							$55.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="../../uploads/product-img-6.jpg" alt="product-img-6">
						<div class="catalog-item-back">
							<button class="btn btn_primary">Add To Cart</button>
							<button class="btn btn_primary">Quik View</button>
						</div>
					</div>
					<a href="#" class="catalog-item__title">Elit Aliquam</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__old">
							$150.00
						</div>
						<div class="catalog-item-prices__new">
							$125.00
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn_secondary" href="#">Brows All Items</a>
	</div>
</section>
<!--end products-->