<!--products-fetured-->
<section class="products-fetured">
	<div class="container">
		<h2>Fetured Products</h2>
		<h3 class="caption">Editors' picks</h3>
		<div class="row clearfix">
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-15.jpg" alt="product-img-15">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
						<a href="#" class="catalog-item__title">Latex Catsuit</a>
						<div class="catalog-item-prices">
							<div class="catalog-item-prices__new">
								$95.00
							</div>
						</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-16.jpg" alt="product-img-16">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="#" class="catalog-item__title">Totoro studio</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__new">
							$199.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-14.jpg" alt="product-img-14">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="#" class="catalog-item__title">Totoro studio</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__new">
							$55.00
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="catalog-item">
					<div class="catalog-item-block">
						<img src="uploads/product-img-14.jpg" alt="product-img-14">
					<div class="catalog-item-back">
						<button class="btn btn_primary">Add To Cart</button>
						<button class="btn btn_primary">Quik View</button>
					</div>
					</div>
					<a href="#" class="catalog-item__title">Tulle Skirt Floor</a>
					<div class="catalog-item-prices">
						<div class="catalog-item-prices__new">
							$125.00
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn_secondary" href="#">Brows All Items</a>
	</div>
</section>
