<!--shop-banner-->
<section class="shop-banner">
	<div class="container">
		<div class="shop-banner-inner clearfix">
			<p>Get something you love</p>
			<a class="btn btn_primary btn_big" href="#">Shop Now</a>
		</div>
	</div>
</section>
<!--shop-banner end-->
