/*----------------------------------------
	FORM
----------------------------------------*/
.form{
	position: relative;
	display: block;
	width: 100%;
}

/*
STYLE FOR INPUT
*/
.form-input{
	width: input(width);
	height: input(height);
	padding: input(padding);
	font-family: input(font-family);
	@include font-size(input(font-size));
	color: input(color);
	font-weight: input(font-weight);
	font-style: input(font-style);
	background-color: input(background);
	border:input(border);
	border-radius:  input(border-radius);
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: input(text-align);
	display:inline-block;
	vertical-align:middle;
	@include box-sizing(border-box);
	@include placeholder {
		color: input(placeholder);
		transition: input(transition);
	}
	&:focus{
		outline: none;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
		+ span.error{
			opacity: 0;
		}
	}
}
/* end forms */
