.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cart {
	font-size:(23/10)*1rem;
	width:(17/23)*1em;
}
.icon-facebook {
	font-size:(22/10)*1rem;
	width:(13/22)*1em;
}
.icon-instagram {
	font-size:(22/10)*1rem;
	width:(23/22)*1em;
}
.icon-pinterest {
	font-size:(22/10)*1rem;
	width:(19/22)*1em;
}
.icon-twitter {
	font-size:(25/10)*1rem;
	width:(23/25)*1em;
}
